<div class="modal-header">
    <h4 class="modal-title" id="market-data-modal-label">Market "{{ marketName }}"</h4>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4">
                        <span class="data-label"><b>N prices</b></span>{{ summary.n_prices }}
                    </div>
                    <div class="col-xs-4">
                        <span class="data-label"><b>Start</b></span>{{ summary.start }}
                    </div>
                    <div class="col-xs-4">
                        <span class="data-label"><b>End</b></span>{{ summary.end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th></th>
            <th>Min</th>
            <th>Max</th>
            <th>Mean</th>
            <th>Std</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in chartsMetadata">
            <td>{{item[1]}}</td>
            <td ng-if="summary[item[0]].max">{{ summary[item[0]].min | number:2 }}</td>
            <td ng-if="summary[item[0]].max">{{ summary[item[0]].max | number:2 }}</td>
            <td ng-if="summary[item[0]].max">{{ summary[item[0]].mean | number:2 }}</td>
            <td ng-if="summary[item[0]].max">{{ summary[item[0]].std | number:2 }}</td>
            <td ng-if="summary[item[0]].max">
                <button class="btn btn-info btn-xs"
                        ng-click="summary[item[0]].show = !summary[item[0]].show"
                        ng-disabled="summary[item[0]].max === null">Toggle chart
                </button>
            </td>
            <td ng-if="summary[item[0]].max === null" colspan="5">Missing data</td>
        </tr>
    </table>

    <div ng-repeat="item in chartsMetadata">
        <div uib-collapse="!summary[item[0]].show" expanded="plotValue(item)"
             collapsed="cleanPlot(item)">
            <div class="well well-lg">
                <div id="plot-value-{{ item[0] }}" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <button class="btn btn-primary" style="width:100%" ng-click="calculateMissing()">Calculate missing
                    values
                </button>
            </div>
            <div class="col-xs-4 col-xs-offset-2">
                <button class="btn btn-primary" style="width:100%" ng-click="fitModel()">Fit model</button>
            </div>
        </div>
    </div>

    <p></p>

    <div class="panel panel-default" ng-if="summary.lambdaD_model">
        <div class="panel-heading"><h4 class="panel-title">Price model</h4></div>
        <div class="panel-body">
            <h4>Day ahead price</h4>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1">
                        <br><br>s.e.
                    </div>
                    <div class="col-xs-1" ng-repeat="(key, value) in summary.lambdaD_model.coef">
                        <b>{{ key }}</b><br>
                        {{ value | number: 4 }}<br>
                        {{ summary.lambdaD_model.s_e[key] | number:4 }}
                    </div>
                </div>
                <dl class="dl-horizontal">
                    <dt>sigma<sup>2</sup></dt>
                    <dd>{{ summary.lambdaD_model.sigma2 | number:4 }}</dd>
                    <dt>log likelihood</dt>
                    <dd>{{ summary.lambdaD_model.loglik | number:4 }}</dd>
                    <dt>AIC</dt>
                    <dd>{{ summary.lambdaD_model.aic | number:4 }}</dd>
                </dl>
            </div>
            <h4>Difference between AM and DA markets</h4>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1">
                        <br><br>s.e.
                    </div>
                    <div class="col-xs-1" ng-repeat="(key, value) in summary.MAvsMD_model.coef">
                        <b>{{ key }}</b><br>
                        {{ value | number: 4 }}<br>
                        {{ summary.MAvsMD_model.s_e[key] | number:4 }}
                    </div>
                </div>
                <dl class="dl-horizontal">
                    <dt>sigma<sup>2</sup></dt>
                    <dd>{{ summary.MAvsMD_model.sigma2 | number:4 }}</dd>
                    <dt>log likelihood</dt>
                    <dd>{{ summary.MAvsMD_model.loglik | number:4 }}</dd>
                    <dt>AIC</dt>
                    <dd>{{ summary.MAvsMD_model.aic | number:4 }}</dd>
                </dl>
            </div>
            <h4>Imbalance</h4>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1">
                        <br><br>s.e.
                    </div>
                    <div class="col-xs-1" ng-repeat="(key, value) in summary.sqrt_r_model.coef">
                        <b>{{ key }}</b><br>
                        {{ value | number: 4 }}<br>
                        {{ summary.sqrt_r_model.s_e[key] | number:4 }}
                    </div>
                </div>
            </div>
            <dl class="dl-horizontal">
                <dt>sigma<sup>2</sup></dt>
                <dd>{{ summary.sqrt_r_model.sigma2 | number:4 }}</dd>
                <dt>log likelihood</dt>
                <dd>{{ summary.sqrt_r_model.loglik | number:4 }}</dd>
                <dt>AIC</dt>
                <dd>{{ summary.sqrt_r_model.aic | number:4 }}</dd>
            </dl>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
