<div class="modal-header">
    <h4 class="modal-title" id="prices-upload-modal-label">Prices upload for market "{{ marketName }}"</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form class="form-horizontal" name="priceUploadForm">
            <div class="form-group">
                <label for="format" class="col-xs-2 control-label">File format: </label>

                <div class="input-group col-xs-10">
                    <select id="format" class="form-control" ng-model="fileFormat" required>
                        <option value="custom">Custom format DateHour(time: dd-mmm-yy hh:mm),Day-ahead prices,Difference
                            adjustment market and day-ahead,root square imbalance/day ahead price ratio
                        </option>
                        <option value="esios-da">E.sios public data CSV format for day-ahead market</option>
                        <option value="esios-am">E.sios public data CSV format for intraday market</option>
                        <option value="esios-bal">E.sios public data CSV format for balancing market</option>
                    </select>
                </div>
                <label>
                </label>
            </div>
            <div class="form-group">
                <label for="upload-price" class="col-xs-2 control-label">File</label>

                <div class="input-group col-xs-10" id="upload-price">
                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input ngf-select ng-model="priceFile" type="file" style="display: none;"
                                              required>
                    </span>
                    </label>
                    <input ng-model="priceFile.name" type="text" class="form-control" readonly>
                    <span class="input-group-btn"><button class="btn btn-info"
                                                          ng-click="previewFile(priceFile)"
                                                          ng-disabled="!priceUploadForm.$valid">
                        Preview
                    </button></span>
                    <span class="input-group-btn"><button class="btn btn-primary"
                                                          ng-click="uploadPrices()"
                                                          ng-disabled="!priceUploadForm.$valid">
                        Upload
                    </button></span>
                </div>
            </div>
        </form>
    </div>

    <div id="prices-upload-chart-container" style="width:100%; height:400px;"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
