alembic==0.8.6
APScheduler==3.2.0
blinker==1.4
click==6.6
cycler==0.10.0
Cython==0.24.1
dominate==2.2.0
Flask==0.11.1
Flask-Bootstrap==3.3.6.0
Flask-Environments==0.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
FuncDesigner==0.5620
funcsigs==1.0.2
futures==3.0.5
itsdangerous==0.24
Jinja2==2.8
lpsolve55==5.5.0.9
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.5.1
mysqlclient==1.3.9
numpy==1.11.1
openopt==0.5625
pandas==0.18.1
passlib==1.6.5
patsy==0.4.1
pkg-resources==0.0.0
procname==0.3
psutil==4.3.0
pyparsing==2.1.5
python-dateutil==2.5.3
python-editor==1.0.1
pytz==2016.6.1
PyYAML==3.11
redis==2.10.5
requests==2.10.0
rpy2==2.8.2
rq==0.6.0
scipy==0.17.1
setproctitle==1.1.10
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.0.14
tzlocal==1.2.2
visitor==0.1.3
Werkzeug==0.11.10
WTForms==2.1
