<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Wind parks</h3>

            <div ng-controller="WindParksCtrl">
                <div id="windparks-grid" ui-grid="gridOptions" ui-grid-selection class="grid grid-windparks"
                     ui-grid-auto-resize></div>
                <div ng-if='noWindParks' class="ng-cloak">
                    <h3 align="center">No data. Use "hamburger" menu at top right corner to add wind park.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% raw %}  <!-- Angular templating -->
<script type="text/ng-template" id="new-windpark.html">
    <div class="modal-header">
        <h4 class="modal-title" id="new-windpark-dialog-label">Add new wind park</h4>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <form class="form-horizontal" name="newWindparkForm">

                <div class="form-group">
                    <label for="windpark-name" class="col-xs-3 control-label">Name: </label>

                    <div class="col-xs-9">
                        <input type="text" ng-model="name" id="windpark-name" name="windpark-name"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="windpark-location" class="col-xs-3 control-label">Location: </label>

                    <div class="col-xs-9">
                        <select id="windpark-location" class="form-control" ng-model="location" required>
                            <option ng-repeat="location in locations" value="{{ location.id }}">{{ location.name }}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label for="windpark-market" class="col-xs-3 control-label">Market: </label>

                    <div class="col-xs-9">
                        <select id="windpark-market" class="form-control" ng-model="market" required>
                            <option ng-repeat="market in markets" value="{{ market.id }}">{{ market.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" id="new-windpark" class="btn btn-warning"
                ng-disabled="!newWindparkForm.$valid" ng-click="addWindPark()">Add
        </button>
    </div>
</script>

<script type="text/ng-template" id="upload-generation-modal.html">
    <div class="modal-header dialog-custom-header">
        <div class="dialog-close-button">
            <button class="close" ng-click="close()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <h4 class="modal-title" id="generation-upload-modal-label">Generation upload for wind park "{{ windParkName
            }}"</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class="form-horizontal" name="generationUploadForm">
                <div class="form-group">
                    <label for="format" class="col-xs-2 control-label">File format: </label>

                    <div class="input-group col-xs-10">
                        <select id="format" class="form-control" ng-model="fileFormat" required>
                            <option value="sotavento">Sotavento public data CSV</option>
                            <option value="custom">2 columns, date and power (MW)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="upload-generation" class="col-xs-2 control-label">File</label>

                    <div class="input-group col-xs-10" id="upload-generation">
                        <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input ngf-select ng-model="generationFile" type="file" style="display: none;"
                                              required>
                    </span>
                        </label>
                        <input ng-model="generationFile.name" type="text" class="form-control" readonly>
                    <span class="input-group-btn"><button class="btn btn-info"
                                                          ng-click="previewFile(generationFile)"
                                                          ng-disabled="!generationUploadForm.$valid">
                        Preview
                    </button></span>
                    <span class="input-group-btn"><button class="btn btn-warning"
                                                          ng-click="uploadGeneration()"
                                                          ng-disabled="!generationUploadForm.$valid">
                        Upload
                    </button></span>
                    </div>
                </div>
            </form>
        </div>

        <div id="generation-upload-chart-container" style="width:100%;"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="windpark-data.html">
    <div class="container" ng-controller="WindParkDataCtrl">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal clearfix" name="newWindparkForm"
                      style="margin-top:34px; margin-bottom:34px">
                    <div class="form-group">
                        <label for="windpark-data-name" class="col-xs-3 control-label">Name: </label>

                        <div class="col-xs-9">
                            <input type="text" ng-model="name" id="windpark-data-name" name="windpark-name"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="windpark-data-location" class="col-xs-3 control-label">Location: </label>

                        <div class="col-xs-9">
                            <select id="windpark-data-location" class="form-control" ng-model="location" required
                                    ng-options="location.name for location in locations track by location.id">
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="windpark-data-market" class="col-xs-3 control-label">Market: </label>

                        <div class="col-xs-9">
                            <select id="windpark-data-market" class="form-control" ng-model="market" required
                                    ng-options="market.name for market in markets track by market.id">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Power curve source: </label>

                        <div class="col-xs-9">
                            <label class="radio-inline">
                                <input type="radio" name="windpark-data-source" ng-model="dataSource" value="turbines">
                                From turbines characteristics</label>
                            <label class="radio-inline">
                                <input type="radio" name="windpark-data-source" ng-model="dataSource" value="historical"
                                       selected>
                                From historical wind and generation data</label>
                        </div>
                    </div>

                    <button type="button" class="btn btn-warning pull-right" ng-click="update()">Update</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-info" ng-if="dataSource == 'turbines'">
                <div class="panel-heading"><h4 class="panel-title">Turbines characteristics</h4>
                </div>
                <div class="panel-body" ng-controller="WindparkTurbinesCtrl">
                    <h4>Turbines</h4>

                    <div id="turbines-list-grid" ui-grid="actualListOptions" ui-grid-selection
                         class="grid" ui-grid-auto-resize></div>
                    <div id="total-power-curve-container" style="width:100%; height:450px;"></div>
                </div>
            </div>
            <div class="panel panel-info" ng-if="dataSource == 'historical'">
                <div class="panel-heading"><h4 class="panel-title">Historical wind and generation data</h4>
                </div>
                <div class="panel-body" ng-controller="WindparkGenerationCtrl">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <span class="data-label"><b>Start</b></span>{{ summary.start | date:'MMM d, y
                                H:mm':'gmt' }}
                            </div>
                            <div class="col-xs-4">
                                <span class="data-label"><b>End</b></span>{{ summary.end | date:'MMM d, y H:mm':'gmt' }}
                            </div>
                            <div class="col-xs-4">
                                <span class="data-label"><b>Min power, MW</b></span>{{ summary.min | number:2 }}
                            </div>
                            <div class="col-xs-4">
                                <span class="data-label"><b>Max power, MW</b></span>{{ summary.max | number:2 }}
                            </div>
                            <div class="col-xs-4">
                                <span class="data-label"><b>Mean power, MW</b></span>{{ summary.mean | number:2 }}
                            </div>
                            <div class="col-xs-4">
                                <span class="data-label"><b>Power std, MW</b></span>{{ summary.std | number:2 }}
                            </div>
                        </div>
                        <p></p>

                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-1">
                                <button class="btn btn-info" style="width:100%"
                                        ng-click="summary.showGeneration = !summary.showGeneration"
                                        ng-disabled="summary.max === null">Generation plot
                                </button>
                            </div>
                            <div class="col-xs-4 col-xs-offset-2">
                                <button class="btn btn-info" style="width:100%"
                                        ng-click="summary.showWindVsPower = !summary.showWindVsPower"
                                        ng-disabled="summary.max === null">Wind vs Power
                                </button>
                            </div>
                        </div>
                        <p></p>

                        <div uib-collapse="!summary.showGeneration" expanded="plotGeneration()"
                             collapsed="cleanGenerationPlot()">
                            <div class="well well-lg">
                                <div id="plot-generation" style="width:100%; height:400px;"></div>
                            </div>
                        </div>
                        <p></p>

                        <div uib-collapse="!summary.showWindVsPower" expanded="plotWindVsPower()"
                             collapsed="cleanWindVsPowerPlot()">
                            <div class="well well-lg">
                                <p>Model fitted using <span ng-if="fittingResult.use_wu">Weather Underground</span>
                                    <span ng-if="!fittingResult.use_wu">manually uploaded</span> wind speed and all data
                                    available in the range {{ fittingResult.date_min }}&mdash;{{ fittingResult.date_max
                                    }}.
                                </p>
                                <dl class="dl-horizontal">
                                    <dt>V<sub>cut-in</sub></dt>
                                    <dd>{{ fittingResult.beta[0] | number:2 }}±{{ fittingResult.sd_beta[0] | number:2
                                        }}
                                    </dd>
                                    <dt>V<sub>rated</sub></dt>
                                    <dd>{{ fittingResult.beta[1] | number:2 }}±{{ fittingResult.sd_beta[1] | number:2
                                        }}
                                    </dd>
                                    <dt>V<sub>cut-out</sub></dt>
                                    <dd>{{ fittingResult.beta[2] | number:2 }}±{{ fittingResult.sd_beta[2] | number:2
                                        }}
                                    </dd>
                                    <dt>W<sub>rated</sub></dt>
                                    <dd>{{ fittingResult.beta[3] | number:2 }}±{{ fittingResult.sd_beta[3] | number:2
                                        }}
                                    </dd>
                                </dl>
                                <div id="plot-wind-vs-power" style="width:100%; height:400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info" ng-controller="WindParkSimulationCtrl">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href class="accordion-toggle"
                                               ng-click="status.isDetailsOpen = !status.isDetailsOpen">
                        Inspect simulations</a></h4>
                </div>
                <div class="panel-collapse collapse" uib-collapse="!status.isDetailsOpen"
                     expanded="showDetails()">
                    <div class="panel-body">
                        <h4>Wind & power simulation</h4>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Day-ahead date: </label>

                                <div class="col-xs-2">
                                    <input type="date" ng-model="simulationDate"
                                           class="form-control" required>
                                </div>

                                <label for="n-scenarios" class="col-xs-2 control-label"># day scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nScenarios" id="n-scenarios"
                                           class="form-control input-sm" required>
                                </div>

                                <label for="n-reduced-samples" class="col-xs-2 control-label"># reduced: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nReducedScenarios" id="n-reduced-samples"
                                           class="form-control input-sm" required>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="n-da-am-scenarios" class="col-xs-2 control-label"># da-am
                                    scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nDaAmScenarios" id="n-da-am-scenarios"
                                           class="form-control input-sm" required>
                                </div>

                                <label for="n-da-am-reduced-scenarios" class="col-xs-2 control-label"># da-am
                                    reduced: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nDaAmReducedScenarios" id="n-da-am-reduced-scenarios"
                                           class="form-control input-sm" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="forecast-var" class="col-xs-2 control-label">Variance: </label>

                                <div class="col-xs-2">
                                    <input type="number" ng-model="forecastErrorVariance" id="forecast-var"
                                           class="form-control input-sm" ng-disabled="!overrideVariance">
                                </div>

                                <div class="col-xs-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="overrideVariance"
                                                   ng-change="overrideVarianceChanged()"> Override variance
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <button class="btn btn-info" style="width:100%"
                                            ng-click="updateWindSimulation()">Repeat simulation
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p>Using forecast dated by {{ usedForecastTime }}</p>

                        <div class="alert alert-danger" role="alert" ng-if="windWarning">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Warning:</span>
                            Forecast is older than 24h.
                        </div>
                        <div id="wind-sim" style="width:100%; height:300px;"></div>
                        <div id="power-sim" style="width:100%; height:300px;"></div>
                        <div id="wind-red-sim" style="width:100%; height:300px;"></div>
                        <div id="power-red-sim" style="width:100%; height:300px;"></div>

                        <h4>Market simulation</h4>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <!--
                                                                <label for="day-start" class="col-xs-2 control-label">Day start hour: </label>

                                                                <div class="col-xs-1">
                                                                    <input type="number" ng-model="dayStart" id="day-start"
                                                                           class="form-control input-sm" required>
                                                                </div>
                                -->
                                <label for="n-da-scenarios" class="col-xs-2 control-label"># DA price
                                    scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nDaPriceScenarios" id="n-da-scenarios"
                                           class="form-control input-sm" required>
                                </div>
                                <label for="n-da-am-price-scenarios" class="col-xs-2 control-label"># DA-AM price
                                    scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nDaAmPriceScenarios" id="n-da-am-price-scenarios"
                                           class="form-control input-sm" required>
                                </div>
                                <label for="n-adj-scenarios" class="col-xs-2 control-label"># adj price
                                    scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nAdjPriceScenarios" id="n-adj-scenarios"
                                           class="form-control input-sm" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="n-da-redc-scenarios" class="col-xs-2 control-label"># DA redc price
                                    scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nDaRedcPriceScenarios" id="n-da-redc-scenarios"
                                           class="form-control input-sm" required>
                                </div>
                                <label for="n-da-am-redc-price-scenarios" class="col-xs-2 control-label"># DA-AM redc
                                    price scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nDaAmRedcPriceScenarios"
                                           id="n-da-am-redc-price-scenarios"
                                           class="form-control input-sm" required>
                                </div>
                                <label for="n-adj-redc-scenarios" class="col-xs-2 control-label"># adj redc price
                                    scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="nAdjRedcPriceScenarios" id="n-adj-redc-scenarios"
                                           class="form-control input-sm" required>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-info" style="width:100%"
                                            ng-click="updateMarketSimulation()">Repeat simulation
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p>Using prices until {{ lastPriceUsed }}</p>

                        <div class="alert alert-danger" role="alert" ng-if="priceWarning">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Warning:</span>
                            Last price is older than 24h.
                        </div>
                        <div id="lambdad-sim" style="width:100%; height:300px;"></div>
                        <div id="lambdad-red-sim" style="width:100%; height:300px;"></div>
                        <div id="mavsmd-sim" style="width:100%; height:300px;"></div>
                        <div id="mavsmd-red-sim" style="width:100%; height:300px;"></div>
                        <div id="sqrtr-sim" style="width:100%; height:300px;"></div>
                        <div id="sqrtr-red-sim" style="width:100%; height:300px;"></div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary" ng-controller="WindParkOptimizationCtrl">
                <div class="panel-heading">
                    <h4 class="panel-title">Optimization</h4>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">
                            <div class="form-group form-group-sm">
                                <label class="col-xs-2 control-label">Day-ahead date: </label>

                                <div class="col-xs-2">
                                    <input type="date" ng-model="optimizationDate"
                                           class="form-control" required>
                                </div>

                                <div class="col-xs-3">
                                    <label class="checkbox-inline control-label">
                                        <input type="checkbox" ng-model="windpark.optimization_job.refit_weather">Re-calibrate
                                        wind model</label>
                                </div>

                                <div class="col-xs-3">
                                    <label class="checkbox-inline control-label">
                                        <input type="checkbox" ng-model="windpark.optimization_job.refit_market">Re-calibrate
                                        market model</label>
                                </div>
                            </div>

                            <div class="form-group form-group-sm">
                                <label class="col-xs-2 control-label">Optimization method: </label>

                                <div class="col-xs-10">
                                    <label class="radio-inline control-label">
                                        <input type="radio" ng-model="windpark.optimization_job.mode"
                                               value="stochastic">Stochastic</label>
                                    <label class="radio-inline control-label">
                                        <input type="radio" ng-model="windpark.optimization_job.mode"
                                               value="deterministic">Deterministic</label>
                                    <label class="radio-inline control-label">
                                        <input type="radio" ng-model="windpark.optimization_job.mode" value="adjusted">Adjusted
                                        deterministic</label>
                                </div>
                            </div>
                            <hr>

                            <div class="form-group form-group-sm">
                                <label class="col-xs-3 control-label">DA wind production scenarios: </label>

                                <div class="col-xs-2">
                                    <input type="number" ng-model="windpark.optimization_job.n_wind_scenarios"
                                           ng-disabled="windpark.optimization_job.mode != 'stochastic'"
                                           class="form-control" required>
                                </div>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.n_redc_wind_scenarios"
                                           ng-disabled="windpark.optimization_job.mode != 'stochastic'"
                                           class="form-control" required>
                                </div>


                                <label class="col-xs-3 control-label">Intraday wind production scenarios: </label>

                                <div class="col-xs-2">
                                    <input type="number" ng-model="windpark.optimization_job.n_da_am_wind_scenarios"
                                           ng-disabled="windpark.optimization_job.mode != 'stochastic'"
                                           class="form-control" required>
                                </div>

                                <div class="col-xs-1">
                                    <input type="number"
                                           ng-model="windpark.optimization_job.n_redc_da_am_wind_scenarios"
                                           ng-disabled="windpark.optimization_job.mode != 'stochastic'"
                                           class="form-control" required>
                                </div>

                            </div>

                            <!--
                                                        <div class="form-group form-group-sm">
                                                            <label for="opt-forecast-var" class="col-xs-2 control-label">Forecast error
                                                                variance: </label>

                                                            <div class="col-xs-2">
                                                                <input type="number" ng-model="forecastErrorVariance" id="opt-forecast-var"
                                                                       class="form-control input-sm"
                                                                       ng-disabled="!overrideVariance || windpark.optimization_job.mode != 'stochastic'">
                                                            </div>

                                                            <div class="col-xs-2">
                                                                <label class="checkbox control-label">
                                                                    <input type="checkbox" ng-model="overrideVariance"
                                                                           ng-change="overrideVarianceChanged()"
                                                                           ng-disabled="windpark.optimization_job.mode != 'stochastic'"> Override
                                                                    variance
                                                                </label>
                                                            </div>

                                                        </div>
                            -->


                            <div class="form-group form-group-sm">
                                <label class="col-xs-2 control-label">DA price scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.n_lambdaD_scenarios"
                                           class="form-control" required>
                                </div>
                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.n_redc_lambdaD_scenarios"
                                           class="form-control"
                                           required>
                                </div>
                                <label class="col-xs-2 control-label">Intraday price scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.n_MAvsMD_scenarios"
                                           class="form-control" required>
                                </div>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.n_redc_MAvsMD_scenarios"
                                           class="form-control"
                                           required>
                                </div>
                                <label class="col-xs-2 control-label">Imbalance price scenarios: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.n_sqrt_r_scenarios"
                                           class="form-control" required>
                                </div>
                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.n_redc_sqrt_r_scenarios"
                                           class="form-control"
                                           required>
                                </div>
                            </div>

                            <!--
                                                        <div class="form-group form-group-sm">
                                                            <label class="col-xs-2 control-label">Maximum power, MW: </label>

                                                            <div class="col-xs-2">
                                                                <input type="number" ng-model="windpark.optimization_job.Pmax" class="form-control"
                                                                       required>
                                                            </div>
                                                        </div>
                            -->
                            <hr>
                            <div class="form-group form-group-sm">
                                <label class="col-xs-2 control-label">Risk aversion: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.beta" class="form-control"
                                           required>
                                </div>
                                <label class="col-xs-2 control-label">CvaR confidence level: </label>

                                <div class="col-xs-1">
                                    <input type="number" ng-model="windpark.optimization_job.alpha" class="form-control"
                                           required>
                                </div>
                                <div class="col-xs-2">
                                    <label class="checkbox-inline control-label">
                                        <input type="checkbox" ng-model="windpark.optimization_job.enable_shorts">
                                        Short selling
                                    </label>
                                </div>

                                <label for="opt-trades-limit" class="col-xs-2 control-label">Limit trades above forecast
                                    at: </label>

                                <div class="col-xs-1 input-group">
                                    <input type="number" ng-model="windpark.optimization_job.trades_limit"
                                           id="opt-trades-limit"
                                           class="form-control input-sm"
                                           ng-disabled="windpark.optimization_job.enable_shorts"
                                           aria-describedby="opt-trades-perc">
                                    <span class="input-group-addon" id="opt-trades-perc">%</span>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">

                                <label for="intraday-limit" class="col-xs-2 control-label">Limit percentage of intraday
                                    volumes: </label>

                                <div class="col-xs-1 input-group">
                                    <input type="number" ng-model="windpark.optimization_job.intraday_limit"
                                           id="intraday-limit"
                                           class="form-control input-sm"
                                           aria-describedby="intraday-limit-perc">
                                    <span class="input-group-addon" id="intraday-limit-perc">%</span>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <button type="button" class="btn btn-primary btn-lg" ng-click="optimize()"
                                        ng-disabled="startDisabled"
                                        style="width: 100%">Optimize
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-danger btn-lg" ng-click="terminate()"
                                        ng-if="startDisabled"
                                        style="width: 100%">Terminate
                                </button>
                            </div>
                        </div>
                    </div>
                    <h4>Status: {{ statusData.status }}</h4>
                    <pre>{{ statusData.log }}</pre>
                    <pre class="bg-danger" ng-if="statusData.isFailed">{{ statusData.error }}</pre>
                    <!--<pre>{{ optimizationResults }}</pre>-->
                    <div ng-hide="statusData.status != 'finished'">
                        <dl class="dl-horizontal">
                            <dt>Calculation start:</dt>
                            <dd>{{ optimizationResults.computing_start }}</dd>
                            <dt>Calculation finish:</dt>
                            <dd>{{ optimizationResults.computing_finish }}</dd>
                            <dt>Forecast used:</dt>
                            <dd>{{ optimizationResults.used_forecast_time }}</dd>
                            <dt>Last price used:</dt>
                            <dd>{{ optimizationResults.last_price_used }}</dd>
                            <dt>Expected profit:</dt>
                            <dd>{{ optimizationResults.expected_profit | number:0 }}</dd>
                            <dt>profit std:</dt>
                            <dd>{{ optimizationResults.profit_std | number:0 }}</dd>
                            <dt>cvar:</dt>
                            <dd>{{ optimizationResults.cvar | number:0 }}</dd>
                        </dl>
                        <button type="button" class="btn btn-secondary btn-xs" ng-click="downloadOptRes()"
                                tooltip-append-to-body="true" uib-tooltip="Download data">Download data
                        </button>
                        <div id="opt-generation" style="width:100%; height:300px;"></div>
                        <div id="da-volumes" style="width:100%; height:300px;"></div>
                        <div id="am-volumes" style="width:100%; height:300px;"></div>
                        <div id="total-volumes" style="width:100%; height:300px;"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div id="da-offering-curve" style="width:100%; height:300px;"></div>
                                </div>
                                <div class="col-xs-2" style="height:300px;">
                                    <rzslider rz-slider-model="daOfferingCurveHour.value"
                                              rz-slider-options="daOfferingCurveHour.options"></rzslider>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="add-turbine.html">
    <div class="modal-header">
        <h4 class="modal-title" id="add-turbine-dialog-label">Add turbine to the wind park</h4>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <form class="form-horizontal" name="addTurbineForm">

                <div class="form-group">
                    <label for="windpark-name" class="col-xs-3 control-label">Count: </label>

                    <div class="col-xs-9">
                        <input type="number" ng-model="count" id="count" name="count"
                               class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="windpark-location" class="col-xs-3 control-label">Name: </label>

                    <div class="col-xs-9">
                        <input type="text" ng-model="selectedTurbine.name" id="selected-name" name="selected-name"
                               class="form-control" required disabled>
                    </div>
                </div>
            </form>
            <div class="row" ng-if="selectedTurbine">
                <pre class="col-xs-6">{{ selectedTurbine.description }}</pre>
                <div class="col-xs-6">
                    <div id="selected-power-curve-container" style="width:100%; height:300px;"></div>
                </div>
            </div>
            <div id="all-turbines-list-grid" ui-grid="allTurbinesListOptions" ui-grid-selection
                 class="grid" ui-grid-auto-resize></div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" id="add-turbine" class="btn btn-warning"
                ng-disabled="!addTurbineForm.$valid" ng-click="addTurbine()">Add
        </button>
    </div>
</script>
{% endraw %}
