{% extends "bootstrap/base.html" %}

{% block title %}Wind power trading{% endblock %}

{% block html_attribs %} ng-app="app" {% endblock %}

{% block styles %}
{{ super() }}
<link type="text/css"
      href="{{ url_for('.static', filename='bower_components/alertify-js/build/css/alertify.min.css') }}"
      rel='stylesheet'/>
<link type="text/css"
      href="{{ url_for('.static', filename='bower_components/alertify-js/build/css/themes/bootstrap.min.css') }}"
      rel='stylesheet'/>
<link type="text/css" href="{{ url_for('.static', filename='bower_components/angular-ui-grid/ui-grid.min.css') }}"
      rel='stylesheet'/>
<link type="text/css" href="{{ url_for('.static', filename='bower_components/angularjs-slider/dist/rzslider.min.css') }}"
      rel='stylesheet'/>
<link type="text/css" href="{{ url_for('.static', filename='editablegrid/editablegrid.css') }}" rel='stylesheet'/>
<link type="text/css" href="{{ url_for('.static', filename='css/style.css') }}" rel='stylesheet'/>
<link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon"/>
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script>
    $SCRIPT_ROOT = {{ request.script_root+'/api'|tojson|safe }};
    $STATIC_ROOT = {{ url_for('.static', filename='') }};
{% if current_user.has_role('admin') %}
    $ADMIN_ROLE = true;
{% else %}
    $ADMIN_ROLE = false;
{% endif %}
</script>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ gmap_api_key }}'></script>
<script src="{{ url_for('.static', filename='bower_components/highcharts/highstock.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/highcharts/highcharts-more.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/alertify-js/build/alertify.min.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/angular/angular.min.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/angular-ui-grid/ui-grid.min.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/spin.js/spin.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/angular-spinner/angular-spinner.min.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/angular-loading-spinner/angular-loading-spinner.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/ng-file-upload/ng-file-upload.min.js') }}"></script>
<script src="{{ url_for('.static', filename='bower_components/angularjs-slider/dist/rzslider.min.js') }}"></script>
<script src="{{ url_for('.static', filename='editablegrid/editablegrid.js') }}"></script>
<script src="{{ url_for('.static', filename='editablegrid/editablegrid_renderers.js') }}"></script>
<script src="{{ url_for('.static', filename='editablegrid/editablegrid_editors.js') }}"></script>
<script src="{{ url_for('.static', filename='editablegrid/editablegrid_validators.js') }}"></script>
<script src="{{ url_for('.static', filename='editablegrid/editablegrid_utils.js') }}"></script>
<script src="{{ url_for('.static', filename='js/app.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/mainCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/locationCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/newLocationCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/marketCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/marketDataCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/newMarketCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/uploadPricesCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/weatherPlotCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/wspdDistributionCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/statusCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/windParksCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/newWindParkCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/uploadGenerationCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/windParkDataCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/windParkGenerationCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/windParkTurbinesCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/windParkSimulationCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/windParkOptimizationCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/locationDataCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controllers/addTurbineCtrl.js') }}"></script>
<script src="{{ url_for('.static', filename='js/services/locationService.js') }}"></script>
<script src="{{ url_for('.static', filename='js/services/marketService.js') }}"></script>
<script src="{{ url_for('.static', filename='js/services/windparkService.js') }}"></script>
<script src="{{ url_for('.static', filename='js/services/turbinesService.js') }}"></script>
{% if current_user.has_role('admin') %}
<script src="{{ url_for('.static', filename='js/admin.js') }}"></script>
{% endif %}
{% endblock scripts %}

{% block content %}
<div ng-controller="MainCtrl">
    <ul class="nav">
        <li role="presentation" class="logo-in-tabs">
            <img src="{{ url_for('static', filename='img/TISLogoWeb-h30.png') }}"/>
        </li>
        <li role="presentation" class="button-in-tabs"><a href="{{ url_for('security.logout') }}" class="btn btn-secondary">Logout</a>
        </li>
    </ul>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#dashboard" aria-controls="symbols" role="tab"
                                                  data-toggle="tab">Dashboard</a>
        </li>
        <li role="presentation"><a href="#locations" aria-controls="symbols" role="tab" data-toggle="tab">Locations</a>
        </li>
        <li role="presentation"><a href="#markets" aria-controls="symbols" role="tab" data-toggle="tab">Markets</a>
        </li>
        {% if current_user.has_role('admin') %}
        <li role="presentation"><a href="#admin" aria-controls="admin" role="tab" data-toggle="tab">Admin</a></li>
        {% endif %}
        {% raw %}  <!--start angular templating-->
        <li role="presentation" ng-repeat="tab in tabs"><a href="#dyntab-{{tab.type}}-{{tab.id}}"
                                                           aria-controls="symbols" role="tab"
                                                           data-toggle="tab">{{tab.title}}&nbsp;
            <button type="button" class="close" aria-label="Close" ng-click="deleteTab(tab)"><span
                    aria-hidden="true">&times;</span></button>
        </a>
        </li>
        {% endraw %}  <!--return to jinja templating-->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="dashboard">{% include "dashboard.jinja" %}</div>
        <div role="tabpanel" class="tab-pane" id="locations">{% include "locations.jinja" %}</div>
        <div role="tabpanel" class="tab-pane" id="markets">{% include "markets.jinja" %}</div>
        {% if current_user.has_role('admin') %}
        <div role="tabpanel" class="tab-pane" id="admin">{% include "admin.jinja" %}</div>
        {% endif %}
        {% raw %}  <!--start angular templating-->
        <div role="tabpanel" class="tab-pane" ng-repeat="tab in tabs" id="dyntab-{{tab.type}}-{{tab.id}}">
            <div ng-if="tab.type=='windpark'" ng-include="'windpark-data.html'"></div>
        </div>
        {% endraw %}  <!--return to jinja templating-->
    </div>

</div>
<span us-spinner="{radius:30, width:8, length: 16, position: 'fixed'}"></span>
{% endblock content %}
