<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div ng-controller="JobsCtrl">
                <h1>Schedule</h1>

                <div id="jobs-grid" ui-grid="sjGridOptions" ui-grid-selection class="grid" ui-grid-auto-resize></div>
                <h1>Jobs</h1>

                <div id="rq-jobs-grid" ui-grid="rqjGridOptions" ui-grid-selection class="grid"
                     ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>
{% raw %}  <!-- Angular templating -->
<script type="text/ng-template" id="jobErrorModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Error message</h3>
    </div>
    <div class="modal-body">
        <pre>{{ errorMessage }}</pre>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="jobLogModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Job log</h3>
    </div>
    <div class="modal-body">
        <pre>{{ jobLog }}</pre>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>
{% endraw %}
