<div id='ajax_loader'>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}"/>
            <h5>Loading, please wait...</h5>
        </div>
    </div>
</div>
