<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Locations</h1>

            <div ng-controller="LocationsCtrl">
                <div id="locations-grid" ui-grid="gridOptions" ui-grid-selection class="grid" ui-grid-auto-resize></div>
                <div ng-if='noLocations'>
                    <h3 align="center">No data. Use "hamburger" menu at top right corner to add location.</h3>
                </div>

                <div style='height:400px;width:100%;' id='locations_map'></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{% raw %}  <!-- Angular templating -->
<div class="modal fade" id="new-location-dialog" tabindex="-1" role="dialog"
     aria-labelledby="new-location-dialog-label" ng-controller="NewLocationCtrl">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="new-location-dialog-label">Add new location</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal" id="new-location-form">
                        <input type="hidden" id="location-id" name="location-id">

                        <div class="form-group">
                            <label for="location-name" class="col-xs-3 control-label">Name: </label>

                            <div class="col-xs-9">
                                <input type="text" ng-model="name" id="location-name" name="location-name"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Search</div>
                            <div class="panel-body">
                                <p>Enter something identifying the location. Examples:
                                    York (city),
                                    Deutschland, Düsseldorf (country and city),
                                    CA, Los Angeles (USA state and city),
                                    44.590278, 28.565278 (latitude and longitude).
                                </p>

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..."
                                           ng-model="query" ng-keyup="$event.keyCode == 13 ? search() : null"
                                           uib-typeahead="location.name for location in getSuggestions($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-on-select="typeaheadSelected($item, $model, $label, $event)">
                                      <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="search()">Search
                                        </button>
                                      </span>
                                    <!--
                                                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                                                                        <div ng-show="noResults">
                                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                        </div>
                                    -->
                                </div>
                                <div ng-if='manyLocations'>
                                    <div id="select-location-grid" ui-grid="gridOptions" ui-grid-selection
                                         class="grid" ui-grid-auto-resize></div>
                                </div>
                                <div ng-if='oneLocation'>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <dl class="dl-horizontal" style="margin-top:20px">
                                                <dt>Country</dt>
                                                <dd>{{ location.country_name }}</dd>
                                                <dt>City</dt>
                                                <dd>{{ location.city }}</dd>
                                                <dt>Latitude</dt>
                                                <dd>{{ location.lat }}</dd>
                                                <dt>Longitude</dt>
                                                <dd>{{ location.lon }}</dd>
                                            </dl>
                                        </div>
                                        <div class="col-xs-6">
                                            <div style='height:250px;width:400px;' id='gmap_canvas'></div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if='notFound'>
                                    <p class="bg-warning">{{ notFound.description }}</p>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="location-lookback" class="col-xs-2 control-label">Look back: </label>

                            <div class="col-xs-4">
                                <input type="number" id="location-lookback" name="location-lookback"
                                       ng-model="lookback"
                                       class="form-control"/>
                            </div>
                            <!--
                                                        <label for="location-lookforward" class="col-xs-2 control-label">Forecast: </label>

                                                        <div class="col-xs-4">
                                                            <input type="number" id="location-lookforward" name="location-lookforward"
                                                                   ng-model="lookforward"
                                                                   class="form-control"/>
                                                        </div>
                            -->
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="new-location" class="btn btn-primary"
                        ng-class="{disabled: !oneLocation}" ng-click="addLocation()">Add
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="weather-plot-modal.html">
    <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title" id="weather-plot-modal-label">Weather plot for location "{{ locationName }}"</h4>
    </div>
    <div class="modal-body">
        <div style="text-align: center">
            <div class="btn-group">
                <label class="btn btn-default btn-xs active">
                    <input type="checkbox" name="tempm" data-toggle="button" ng-model="tempmEnabled"
                           ng-change="updateSeriesSet()"> Temperature</label>
                <label class="btn btn-default btn-xs active">
                    <input type="checkbox" name="wspdm" data-toggle="button" ng-model="wspdmEnabled"
                           ng-change="updateSeriesSet()"> Wind speed</label>
                <label class="btn btn-default btn-xs">
                    <input type="checkbox" name="wdird" data-toggle="button" ng-model="wdirdEnabled"
                           ng-change="updateSeriesSet()"> Wind direction</label>
            </div>
        </div>
        <div id="weather-chart-container" style="width:100%; height:450px;"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="wspd-distribution-modal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="wspd-plot-modal-label">Wind speed distribution and model for location "{{
            locationName }}"</h4>
    </div>
    <div class="modal-body">
        <div id="wspd-distr-container" style="width:100%; height:450px;"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>
{% endraw %}
