<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Locations</h1>

            <div ng-controller="LocationsCtrl">
                <div id="locations-grid" ui-grid="gridOptions" ui-grid-selection class="grid" ui-grid-auto-resize></div>
                <div class="ng-cloak" ng-if='noLocations'>
                    <h3 align="center">No data. Use "hamburger" menu at top right corner to add location.</h3>
                </div>

                <div style='height:400px;width:100%;' id='locations_map'></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{% raw %}  <!-- Angular templating -->
<div class="modal fade" id="new-location-dialog" tabindex="-1" role="dialog"
     aria-labelledby="new-location-dialog-label" ng-controller="NewLocationCtrl">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="new-location-dialog-label">Add new location</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal" id="new-location-form">
                        <input type="hidden" id="location-id" name="location-id">

                        <div class="panel panel-default">
                            <div class="panel-heading">Search</div>
                            <div class="panel-body">
                                <p>Enter something identifying the location. Examples:
                                    York (city),
                                    Deutschland, Düsseldorf (country and city),
                                    CA, Los Angeles (USA state and city),
                                    44.590278, 28.565278 (latitude and longitude).
                                </p>

                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..."
                                           ng-model="query" ng-keyup="$event.keyCode == 13 ? search() : null"
                                           uib-typeahead="location.name for location in getSuggestions($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-on-select="typeaheadSelected($item, $model, $label, $event)">
                                      <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" ng-click="search()">Search
                                        </button>
                                      </span>
                                    <!--
                                                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                                                                        <div ng-show="noResults">
                                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                        </div>
                                    -->
                                </div>
                                <div ng-if='manyLocations'>
                                    <div id="select-location-grid" ui-grid="gridOptions" ui-grid-selection
                                         class="grid" ui-grid-auto-resize></div>
                                </div>
                                <div ng-if='oneLocation'>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <dl class="dl-horizontal" style="margin-top:20px">
                                                <dt>Country</dt>
                                                <dd>{{ location.country_name }}</dd>
                                                <dt>City</dt>
                                                <dd>{{ location.city }}</dd>
                                                <dt>Latitude</dt>
                                                <dd>{{ location.lat }}</dd>
                                                <dt>Longitude</dt>
                                                <dd>{{ location.lon }}</dd>
                                            </dl>
                                        </div>
                                        <div class="col-xs-6">
                                            <div style='height:250px;width:400px;' id='gmap_canvas'></div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if='notFound'>
                                    <p class="bg-warning">{{ notFound.description }}</p>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="location-name" class="col-xs-2 control-label">Name: </label>

                            <div class="col-xs-10">
                                <input type="text" ng-model="name" id="location-name" name="location-name"
                                       class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-xs-2 control-label">Time range: </label>

                            <div class="col-xs-10">
                                <label class="radio-inline">
                                    <input type="radio" name="location-time-range" ng-model="timeRange.type"
                                           value="fixed"
                                           selected>
                                    Fixed
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="location-time-range" ng-model="timeRange.type"
                                           value="rolling">
                                    Rolling
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-if="timeRange.type == 'rolling'">
                            <label for="location-lookback" class="col-xs-2 control-label">Look back: </label>

                            <div class="col-xs-4">
                                <input type="number" id="location-lookback" name="location-lookback"
                                       ng-model="timeRange.lookback"
                                       class="form-control"/>
                            </div>
                            <!--
                                                        <label for="location-lookforward" class="col-xs-2 control-label">Forecast: </label>

                                                        <div class="col-xs-4">
                                                            <input type="number" id="location-lookforward" name="location-lookforward"
                                                                   ng-model="lookforward"
                                                                   class="form-control"/>
                                                        </div>
                            -->
                        </div>

                        <div class="form-group" ng-if="timeRange.type == 'fixed'">
                            <label for="location-history-start" class="col-xs-2 control-label">Start: </label>

                            <div class="col-xs-4">
                                <input type="date" id="location-history-start" name="location-history-start"
                                       ng-model="timeRange.start" ng-model-options="{ timezone: 'UTC' }"
                                       class="form-control"/>
                            </div>
                            <label for="location-history-end" class="col-xs-2 control-label">End (incl.): </label>

                            <div class="col-xs-4">
                                <input type="date" id="location-history-end" name="location-history-end"
                                       ng-model="timeRange.end" ng-model-options="{ timezone: 'UTC' }"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label class="checkbox control-label">
                                    <input type="checkbox" ng-model="updateAt11am">Update at 11AM</label>
                            </div>
                            <div class="col-xs-6">
                                <label class="checkbox control-label">
                                    <input type="checkbox" ng-model="updateAt11pm">Update at 11PM</label>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="new-location" class="btn btn-primary"
                        ng-class="{disabled: !oneLocation}" ng-click="addLocation()">Add
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="weather-plot-modal.html">
    <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="pull-left" id="weather-plot-modal-label">Weather plot for location "{{ locationName }}"</h4>
        <h5 class="pull-right">{{lastObservation}}</h5>
    </div>
    <div class="modal-body">
        <div style="text-align: center">
            <div class="btn-group">
                <label class="btn btn-default btn-xs">
                    <input type="checkbox" name="tempm" data-toggle="button" ng-model="tempmEnabled"
                           ng-change="updateSeriesSet()"> Temperature</label>
                <label class="btn btn-default btn-xs active">
                    <input type="checkbox" name="wspdm" data-toggle="button" ng-model="wspdmEnabled"
                           ng-change="updateSeriesSet()"> Wind speed</label>
                <label class="btn btn-default btn-xs">
                    <input type="checkbox" name="wdird" data-toggle="button" ng-model="wdirdEnabled"
                           ng-change="updateSeriesSet()"> Wind direction</label>
            </div>
        </div>
        <div id="weather-chart-container" style="width:100%; height:450px;"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="wspd-distribution-modal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="wspd-plot-modal-label">Wind speed distribution and model for location "{{
            locationName }}"</h4>
    </div>
    <div class="modal-body">
        <div style="text-align: center">
            <div class="btn-group">
                <label class="btn btn-default btn-xs active">
                    <input type="checkbox" data-toggle="button" ng-model="wspdHistEnabled"
                           ng-change="updateSeriesSet()"> Actual histogram</label>
                <label class="btn btn-default btn-xs active">
                    <input type="checkbox" data-toggle="button" ng-model="wspdModelEnabled"
                           ng-change="updateSeriesSet()"> Fitted Weibull distribution</label>
                <label class="btn btn-default btn-xs">
                    <input type="checkbox" data-toggle="button" ng-model="zHistEnabled"
                           ng-change="updateSeriesSet()"> Normalized values histogram</label>
                <label class="btn btn-default btn-xs">
                    <input type="checkbox" data-toggle="button" ng-model="zModelEnabled"
                           ng-change="updateSeriesSet()"> Desired normal distribution</label>
            </div>
        </div>
        <div id="wspd-distr-container" style="width:100%; height:450px;"></div>
        <h4>AR(2) model</h4>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <dl class="dl-horizontal">
                        <dt>ar1</dt>
                        <dd>{{ windModel.coef.ar1 | number:3 }}±{{ windModel.s_e.ar1 | number:3 }}</dd>
                        <dt>ar2</dt>
                        <dd>{{ windModel.coef.ar2 | number:3 }}±{{ windModel.s_e.ar2 | number:3 }}</dd>
                        <dt>intercept</dt>
                        <dd>{{ windModel.coef.intercept | number:3 }}±{{ windModel.s_e.intercept | number:3 }}</dd>
                    </dl>
                </div>
                <div class="col-xs-6">
                    <dl class="dl-horizontal">
                        <dt>sigma<sup>2</sup></dt>
                        <dd>{{ windModel.sigma2 | number:4 }}</dd>
                        <dt>log likelihood</dt>
                        <dd>{{ windModel.loglik | number:4 }}</dd>
                        <dt>AIC</dt>
                        <dd>{{ windModel.aic | number:4 }}</dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="location-data-modal.html">
    <div class="modal-header">
        <h4 class="modal-title">Location "{{ name }}"</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class="form-horizontal" id="location-data-form">
                <div class="form-group">
                    <label for="location-name" class="col-xs-2 control-label">Name: </label>

                    <div class="col-xs-10">
                        <input type="text" ng-model="name" id="location-data-name" name="location-name"
                               class="form-control"/>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-2 control-label">Time range: </label>

                    <div class="col-xs-10">
                        <label class="radio-inline">
                            <input type="radio" name="location-time-range" ng-model="timeRange.type" value="fixed"
                                   selected>
                            Fixed
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="location-time-range" ng-model="timeRange.type" value="rolling">
                            Rolling
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-if="timeRange.type == 'rolling'">
                    <label for="location-data-lookback" class="col-xs-2 control-label">Look back: </label>

                    <div class="col-xs-4">
                        <input type="number" id="location-data-lookback" name="location-lookback"
                               ng-model="timeRange.lookback"
                               class="form-control"/>
                    </div>
                    <!--
                                                <label for="location-lookforward" class="col-xs-2 control-label">Forecast: </label>

                                                <div class="col-xs-4">
                                                    <input type="number" id="location-lookforward" name="location-lookforward"
                                                           ng-model="lookforward"
                                                           class="form-control"/>
                                                </div>
                    -->
                </div>

                <div class="form-group" ng-if="timeRange.type == 'fixed'">
                    <label for="location-history-start" class="col-xs-2 control-label">Start: </label>

                    <div class="col-xs-4">
                        <input type="date" id="location-data-history-start" name="location-data-history-start"
                               ng-model="timeRange.start" ng-model-options="{ timezone: 'UTC' }"
                               class="form-control"/>
                    </div>
                    <label for="location-history-end" class="col-xs-2 control-label">End (incl.): </label>

                    <div class="col-xs-4">
                        <input type="date" id="location-data-history-end" name="location-data-history-end"
                               ng-model="timeRange.end" ng-model-options="{ timezone: 'UTC' }"
                               class="form-control"/>{{historyStart}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label class="checkbox control-label">
                            <input type="checkbox" ng-model="updateAt11am">Update at 11AM</label>
                    </div>
                    <div class="col-xs-6">
                        <label class="checkbox control-label">
                            <input type="checkbox" ng-model="updateAt11pm">Update at 11PM</label>
                    </div>
                </div>

                <button type="button" class="btn btn-warning pull-right" ng-click="update()">Update</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="forecast-error-modal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="forecast-error-modal-label">Wind speed forecast error model for location "{{
            locationName }}"</h4>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="data-label"><b>Forecasts used</b></span>{{ errorsChunked.length }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="data-label"><b>Min error</b></span>{{ errorsMerged.min | number:2 }}
                        </div>
                        <div class="col-xs-3">
                            <span class="data-label"><b>Max error</b></span>{{ errorsMerged.max | number:2 }}
                        </div>
                        <div class="col-xs-3">
                            <span class="data-label"><b>Mean error</b></span>{{ errorsMerged.mean | number:2 }}
                        </div>
                        <div class="col-xs-3">
                            <span class="data-label"><b>Error std</b></span>{{ errorsMerged.std | number:2 }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <select class="form-control" id="forecast-error-plot-select" ng-model="selectedDataPlot">
            <option value="off" selected>Data plot: off</option>
            <option value="errors-chunked" selected>Errors chunked</option>
            <option value="errors-merged" selected>Errors merged</option>
        </select>

        <div uib-collapse="selectedDataPlot != 'errors-chunked'" expanded="plotErrorsChunked()"
             collapsed="cleanErrorsChunked()">
            <div class="well well-lg">
                <div id="plot-value-errors-chunked" style="width:100%; height:600px;"></div>
            </div>
        </div>
        <div uib-collapse="selectedDataPlot != 'errors-merged'" expanded="plotErrorsMerged()"
             collapsed="cleanErrorsMerged()">
            <div class="well well-lg">
                <div id="plot-value-errors-merged" style="width:100%; height:400px;"></div>
            </div>
        </div>
        <p>&nbsp;</p>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-3">
                    <button class="btn btn-warning" style="width:100%" ng-click="fitErrorModel()">Fit model</button>
                </div>
            </div>
        </div>

        <p></p>

        <div class="panel panel-default" ng-if="modelData.forecast_error_model">
            <div class="panel-heading"><h4 class="panel-title">Error model</h4></div>
            <div class="panel-body">
                <select class="pull-right input-sm" id="analytic-plot" ng-model="selectedAnalyticPlot">
                    <option value="off" selected>Analytic plot: off</option>
                    <option value="prediction">Prediction</option>
                    <option value="residuals">Residuals</option>
                    <option value="dataAcf">Data ACF</option>
                    <option value="dataPacf">Data PACF</option>
                    <option value="residualsAcf">Residuals ACF</option>
                    <option value="residualsPacf">Residuals PACF</option>
                    <option value="residualsQq">Residuals Q-Q plot</option>
                </select>

                <div class="container-fluid">
                    <div class="row summary-model-row">
                        <div class="col-xs-4">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="(key, value) in modelData.forecast_error_model.coef" ng-if="$index < 5">
                                    <strong>{{ key }}</strong> = {{ value | number: 4 }} ± {{ modelData.forecast_error_model.s_e[key] | number:4 }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="(key, value) in modelData.forecast_error_model.coef" ng-if="$index >= 5 && $index < 10">
                                    <strong>{{ key }}</strong> = {{ value | number: 4 }} ± {{ modelData.forecast_error_model.s_e[key] | number:4 }}
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-4">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="(key, value) in modelData.forecast_error_model.coef" ng-if="$index >= 10 && $index < 15">
                                    <strong>{{ key }}</strong> = {{ value | number: 4 }} ± {{ modelData.forecast_error_model.s_e[key] | number:4 }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                             <ul class="list-group">
                                <li class="list-group-item" ng-repeat="(key, value) in modelData.forecast_error_model.coef" ng-if="$index >= 15 && $index < 20">
                                    <strong>{{ key }}</strong> = {{ value | number: 4 }} ± {{ modelData.forecast_error_model.s_e[key] | number:4 }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>sigma<sup>2</sup></dt>
                        <dd>{{ modelData.forecast_error_model.sigma2 | number:4 }}</dd>
                        <dt>log likelihood</dt>
                        <dd>{{ modelData.forecast_error_model.loglik | number:4 }}</dd>
                        <dt>AIC</dt>
                        <dd>{{ modelData.forecast_error_model.aic | number:4 }}</dd>
                    </dl>
                </div>
                <div uib-collapse="!(selectedAnalyticPlot == 'prediction')"
                     expanded="plotPrediction()"
                     collapsed="cleanPrediction()">
                    <div class="well well-lg">
                        <div id="plot-error-pred" style="width:100%; height:400px;"></div>
                    </div>
                </div>
                <div uib-collapse="!(selectedAnalyticPlot == 'residuals')"
                     expanded="plotResiduals()"
                     collapsed="cleanResiduals()">
                    <div class="well well-lg">
                        <div id="plot-error-residuals" style="width:100%; height:400px;"></div>
                    </div>
                </div>
                <div uib-collapse="!(selectedAnalyticPlot == 'residualsAcf')"
                     expanded="plotResidualsAcf()"
                     collapsed="cleanResidualsAcf()">
                    <div class="well well-lg">
                        <div id="plot-error-residuals-acf" style="width:100%; height:400px;"></div>
                    </div>
                </div>
                <div uib-collapse="!(selectedAnalyticPlot == 'residualsPacf')"
                     expanded="plotResidualsPacf()"
                     collapsed="cleanResidualsPacf()">
                    <div class="well well-lg">
                        <div id="plot-error-residuals-pacf" style="width:100%; height:400px;"></div>
                    </div>
                </div>
                <div uib-collapse="!(selectedAnalyticPlot == 'dataAcf')"
                     expanded="plotDataAcf()"
                     collapsed="cleanDataAcf()">
                    <div class="well well-lg">
                        <div id="plot-error-data-acf" style="width:100%; height:400px;"></div>
                    </div>
                </div>
                <div uib-collapse="!(selectedAnalyticPlot == 'dataPacf')"
                     expanded="plotDataPacf()"
                     collapsed="cleanDataPacf()">
                    <div class="well well-lg">
                        <div id="plot-error-data-pacf" style="width:100%; height:400px;"></div>
                    </div>
                </div>
                <div uib-collapse="!(selectedAnalyticPlot == 'residualsQq')"
                     expanded="plotResidualsQq()"
                     collapsed="cleanResidualsQq()">
                    <div class="well well-lg">
                        <div id="plot-error-residuals-qq" style="width:100%; height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

{% endraw %}
