<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Markets</h1>

            <div ng-controller="MarketsCtrl">
                <div id="markets-grid" ui-grid="gridOptions" ui-grid-selection class="grid grid-market" ui-grid-auto-resize></div>
                <div class="ng-cloak" ng-if='noMarkets'>
                    <h3 align="center">No data. Use "hamburger" menu at top right corner to add market.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{% raw %}  <!-- Angular templating -->
<div class="modal fade" id="new-market-dialog" tabindex="-1" role="dialog"
     aria-labelledby="new-market-dialog-label" ng-controller="NewMarketCtrl">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="new-market-dialog-label">Add new market</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal" id="new-market-form">
                        <input type="hidden" id="market-id" name="market-id">

                        <div class="form-group">
                            <label for="market-name" class="col-xs-3 control-label">Name: </label>

                            <div class="col-xs-9">
                                <input type="text" ng-model="name" id="market-name" name="market-name"
                                       class="form-control"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="new-market" class="btn btn-primary"
                        ng-disabled="name.length==0" ng-click="addMarket()">Add
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="upload-prices-modal.html">
    <div class="modal-header dialog-custom-header">
        <div class="dialog-close-button">
            <button class="close" ng-click="close()"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <h4 class="modal-title" id="prices-upload-modal-label">Prices upload for market "{{ marketName }}"</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class="form-horizontal" name="priceUploadForm">
                <div class="form-group">
                    <label for="format" class="col-xs-2 control-label">File format: </label>

                    <div class="input-group col-xs-10">
                        <select id="format" class="form-control" ng-model="fileFormat" required>
                            <option value="custom">Custom format DateHour(time: dd-mmm-yy hh:mm),Day-ahead
                                prices,Difference
                                adjustment market and day-ahead,root square imbalance/day ahead price ratio
                            </option>
                            <option value="esios-da">E.sios public data CSV format for day-ahead market</option>
                            <option value="esios-am">E.sios public data CSV format for intraday market</option>
                            <option value="esios-bal">E.sios public data CSV format for balancing market</option>
                        </select>
                    </div>
                    <label>
                    </label>
                </div>
                <div class="form-group">
                    <label for="upload-price" class="col-xs-2 control-label">File</label>

                    <div class="input-group col-xs-10" id="upload-price">
                        <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input ngf-select ng-model="priceFile" type="file" style="display: none;"
                                              required>
                    </span>
                        </label>
                        <input ng-model="priceFile.name" type="text" class="form-control" readonly>
                    <span class="input-group-btn"><button class="btn btn-info"
                                                          ng-click="previewFile(priceFile)"
                                                          ng-disabled="!priceUploadForm.$valid">
                        Preview
                    </button></span>
                    <span class="input-group-btn"><button class="btn btn-warning"
                                                          ng-click="uploadPrices()"
                                                          ng-disabled="!priceUploadForm.$valid">
                        Upload
                    </button></span>
                    </div>
                </div>
            </form>
        </div>

        <div id="prices-upload-chart-container" style="width:100%;"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="market-data-modal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="market-data-modal-label">Market "{{ marketName }}"</h4>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="data-label"><b>N prices</b></span>{{ summary.n_prices }}
                        </div>
                        <div class="col-xs-4 col-xs-offset-1 market-header-dates">
                            <span class="data-label"><b>Start</b></span>{{ summary.start }}
                        </div>
                        <div class="col-xs-4 market-header-dates">
                            <span class="data-label"><b>End</b></span>{{ summary.end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th></th>
                <th>Min</th>
                <th>Max</th>
                <th>Mean</th>
                <th>Std</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in chartsMetadata">
                <td>{{item[1]}}</td>
                <td ng-if="summary[item[0]].max">{{ summary[item[0]].min | number:2 }}</td>
                <td ng-if="summary[item[0]].max">{{ summary[item[0]].max | number:2 }}</td>
                <td ng-if="summary[item[0]].max">{{ summary[item[0]].mean | number:2 }}</td>
                <td ng-if="summary[item[0]].max">{{ summary[item[0]].std | number:2 }}</td>
                <td ng-if="summary[item[0]].max === null" colspan="5">Missing data</td>
            </tr>
        </table>

        <select class="form-control" id="market-data-plot-select" ng-model="summary.selectedDataPlot">
            <option value="off" selected>Data plot: off</option>
            <option ng-repeat="item in chartsMetadata" value="{{ item[0] }}" ng-if="summary[item[0]].max">{{item[1]}}
            </option>
        </select>

        <div ng-repeat="item in chartsMetadata">
            <div uib-collapse="summary.selectedDataPlot != item[0]" expanded="plotValue(item)"
                 collapsed="cleanPlot(item)">
                <div class="well well-lg">
                    <div id="plot-value-{{ item[0] }}" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                    <button class="btn btn-warning" style="width:100%" ng-click="calculateMissing()">Calculate missing
                        values
                    </button>
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                    <button class="btn btn-warning" style="width:100%" ng-click="fitModel()">Fit model</button>
                </div>
            </div>
        </div>

        <p></p>

        <div class="panel panel-default" ng-if="summary.lambdaD_model">
            <div class="panel-heading"><h4 class="panel-title">Price model</h4></div>
            <div class="panel-body">
                <div class="metadata-block" ng-class="{'metadata-block-last':$last}" ng-repeat="item in modelsMetadata">
                    <h4><span>{{ item[1] }}</span>
                        <select class="pull-right input-sm" id="analytic-plot"
                                ng-model="summary.selectedAnalyticPlot[item[0]]">
                            <option value="off" selected>Analytic plot: off</option>
                            <option value="prediction">Prediction</option>
                            <option value="residuals">Residuals</option>
                            <option value="dataAcf">Data ACF</option>
                            <option value="dataPacf">Data PACF</option>
                            <option value="residualsAcf">Residuals ACF</option>
                            <option value="residualsPacf">Residuals PACF</option>
                            <option value="residualsQq">Residuals Q-Q plot</option>
                        </select>
                    </h4>
                    <div class="container-fluid">
                        <div class="row summary-model-row">
                            <div class="col-xs-4">
                                <ul class="list-group">
                                  <li class="list-group-item" ng-repeat="(key, value) in summary[item[0] + '_model'].coef" ng-if="$index < 5">
                                    <strong>{{ key }}</strong> = {{ value | number: 4 }} ± {{ summary[item[0] + '_model'].s_e[key] | number:4 }}
                                  </li>
                                </ul>
                            </div>

                            <div class="col-xs-4">
                                <ul class="list-group">
                                  <li class="list-group-item" ng-repeat="(key, value) in summary[item[0] + '_model'].coef" ng-if="$index >= 5 && $index < 10">
                                    <strong>{{ key }}</strong> = {{ value | number: 4 }} ± {{ summary[item[0] + '_model'].s_e[key] | number:4 }}
                                  </li>
                                </ul>
                            </div>

                            <div class="col-xs-4">
                                <ul class="list-group">
                                  <li class="list-group-item" ng-repeat="(key, value) in summary[item[0] + '_model'].coef" ng-if="$index >= 10 && $index < 15">
                                    <strong>{{ key }}</strong> = {{ value | number: 4 }} ± {{ summary[item[0] + '_model'].s_e[key] | number:4 }}
                                  </li>
                                </ul>
                            </div>
                            <div class="col-xs-4">
                                <ul class="list-group">
                                  <li class="list-group-item" ng-repeat="(key, value) in summary[item[0] + '_model'].coef" ng-if="$index >= 15 && $index < 20">
                                    <strong>{{ key }}</strong> = {{ value | number: 4 }} ± {{ summary[item[0] + '_model'].s_e[key] | number:4 }}
                                  </li>
                                </ul>
                            </div>


                        </div>
                        <div class="col-xs-12 col-lg-5">
                        <dl class="dl-horizontal">
                            <dt>sigma<sup>2</sup>:</dt>
                            <dd>{{ summary[item[0] + '_model'].sigma2 | number:4 }}</dd>
                            <dt>log likelihood:</dt>
                            <dd>{{ summary[item[0] + '_model'].loglik | number:4 }}</dd>
                            <dt>AIC:</dt>
                            <dd>{{ summary[item[0] + '_model'].aic | number:4 }}</dd>
                        </dl>
                        </div>
                    </div>
                    <div uib-collapse="!(summary.selectedAnalyticPlot[item[0]] == 'prediction')"
                         expanded="plotPrediction(item)"
                         collapsed="cleanPrediction(item)">
                        <div class="well well-lg">
                            <div id="plot-{{ item[0] }}-pred" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                    <div uib-collapse="!(summary.selectedAnalyticPlot[item[0]] == 'residuals')"
                         expanded="plotResiduals(item)"
                         collapsed="cleanResiduals(item)">
                        <div class="well well-lg">
                            <div id="plot-{{ item[0] }}-residuals" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                    <div uib-collapse="!(summary.selectedAnalyticPlot[item[0]] == 'residualsAcf')"
                         expanded="plotResidualsAcf(item)"
                         collapsed="cleanResidualsAcf(item)">
                        <div class="well well-lg">
                            <div id="plot-{{ item[0] }}-residuals-acf" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                    <div uib-collapse="!(summary.selectedAnalyticPlot[item[0]] == 'residualsPacf')"
                         expanded="plotResidualsPacf(item)"
                         collapsed="cleanResidualsPacf(item)">
                        <div class="well well-lg">
                            <div id="plot-{{ item[0] }}-residuals-pacf" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                    <div uib-collapse="!(summary.selectedAnalyticPlot[item[0]] == 'dataAcf')"
                         expanded="plotDataAcf(item)"
                         collapsed="cleanDataAcf(item)">
                        <div class="well well-lg">
                            <div id="plot-{{ item[0] }}-data-acf" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                    <div uib-collapse="!(summary.selectedAnalyticPlot[item[0]] == 'dataPacf')"
                         expanded="plotDataPacf(item)"
                         collapsed="cleanDataPacf(item)">
                        <div class="well well-lg">
                            <div id="plot-{{ item[0] }}-data-pacf" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                    <div uib-collapse="!(summary.selectedAnalyticPlot[item[0]] == 'residualsQq')"
                         expanded="plotResidualsQq(item)"
                         collapsed="cleanResidualsQq(item)">
                        <div class="well well-lg">
                            <div id="plot-{{ item[0] }}-residuals-qq" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>
{% endraw %}
