ul.nav li.logo-in-tabs {
    padding: 5px 15px;
    float: left;
}

ul.nav li.button-in-tabs {
    padding: 13px 75px;
    float: right;
}

ul.nav li.button-in-tabs a {
    display: inline-block;
    margin-right: inherit;
    margin-top: inherit;
    position: inherit;
    padding: 5px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: inherit;
}

ul.nav li.button-in-tabs a:focus, ul.nav li.button-in-tabs a:hover, ul.nav li.button-in-tabs a:active {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

#ajax_loader {
    text-align: center;
    position: fixed;
    width: 20%;
    min-width: 300px;
    height: 10%;
    min-height: 100px;
    left: 40%;
    top: 45%;
    display: none;
    z-index: 9999;
    color: #ff333b;
}

#ajax_loader img {
    display: inline-block;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

td.editablegrid-action button.btn, a.btn {
    margin-left: 5px;
}

#users-table td.editablegrid-action a {
    margin-left: 30px;
    vertical-align: middle;
}

.ui-grid-cell button.btn-xs {
    margin: 4px
}

span.data-label {
    font-weight: bold;
    text-align: right;
    margin-right: 20px
}

h4 button.pull-right {
    margin-top: -2px;
    margin-left: 5px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}
.nav-tabs > li > a {
    border: none;
    color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #2E6DA4 !important;
    background: transparent;
}
.nav-tabs > li > a::after {
    content: "";
    background: #2E6DA4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.tab-nav > li > a::after {
    background: #173B7D none repeat scroll 0% 0%;
    color: #fff;
}
.tab-pane {
    padding: 15px 0;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: -10px;
    text-align: center;
    margin: auto;
}

.navbar-brand > img.brand-img {
    display: inline-block;
    height: 45px;
}

#markets-grid .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
    overflow: initial;
    border: 1px solid #d4d4d4;
}

#windparks-grid .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
    overflow: initial;
    border: 1px solid #d4d4d4;
}

.ui-grid-icon-container{
    color: #337AB7;
}

.ui-grid-icon-ok::before {
    color: #12155A;
}


.ui-grid-icon-cancel::before {
    color: #12155A;
}

.ui-grid-icon-menu:before {
    content:"\e236";
    font-family:"Glyphicons Halflings";
    line-height:1;
    margin-top: 3px;
    display:inline-block;

}

.grid-icon-remove:before {
    content: '\e020';
    color: #D9534F;
    font-family:"Glyphicons Halflings";
    font-style: normal;
    display: inline-block;
    margin-top: 5px;
}

.grid-icon-add:before {
    content: '\e081';
    color: #5CB85C;
    font-family:"Glyphicons Halflings";
    font-style: normal;
    display: inline-block;
    margin-top: 5px;
}

.dialog-custom-header {
    background-color: #337ab7;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dialog-close-button {
    float: right;
    opacity: .9;
    filter: alpha(opacity=90);

}

.dialog-close-button .close {
    font-size: 18px;
    color: #fff
}

#locations_map {
    margin-bottom: 75px;
    border: 1px solid #d4d4d4;
}

.column-se {
    padding-top: 20px;
}

.metadata-block {
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.metadata-block-last {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.summary-model-row {
    padding-top: 30px;
}

.ui-datepicker {
    z-index:9999 !important;
}
